<h2>-Importing relevant libraries and Loading the Data<h2>

In [27]:
#importing relevant libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [28]:
#loading the dataset
crime=pd.read_csv(r"C:\Users\Podos\OneDrive\Desktop\Data_science\Dataset\Crimes_-_2001_to_Present.csv\crime_data_chicago.csv")

In [29]:
#viewing the dataset
crime.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,0,6407111,HP485721,07/26/2008 02:30:00 PM,085XX S MUSKEGON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,...,10.0,46.0,14,1196638.0,1848800.0,2008,02/28/2018 03:56:25 PM,41.739980,-87.555120,"(41.739979622, -87.555120042)"
1,1,11398199,JB372830,07/31/2018 10:57:00 AM,092XX S ELLIS AVE,143C,WEAPONS VIOLATION,UNLAWFUL POSS AMMUNITION,POOL ROOM,True,...,8.0,47.0,15,1184499.0,1843935.0,2018,08/07/2018 04:02:59 PM,41.726922,-87.599747,"(41.726922145, -87.599746995)"
2,2,5488785,HN308568,04/27/2007 10:30:00 AM,062XX N TRIPP AVE,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,True,...,39.0,12.0,05,1146911.0,1941022.0,2007,02/28/2018 03:56:25 PM,41.994138,-87.734959,"(41.994137622, -87.734959049)"
3,3,11389116,JB361368,07/23/2018 08:55:00 AM,0000X N KEELER AVE,0560,ASSAULT,SIMPLE,NURSING HOME/RETIREMENT HOME,False,...,28.0,26.0,08A,1148388.0,1899882.0,2018,07/30/2018 03:52:24 PM,41.881217,-87.730590,"(41.881217483, -87.730589961)"
4,4,12420431,JE297624,07/11/2021 06:40:00 AM,016XX W HARRISON ST,051A,ASSAULT,AGGRAVATED - HANDGUN,PARKING LOT / GARAGE (NON RESIDENTIAL),False,...,27.0,28.0,04A,1165430.0,1897441.0,2021,07/18/2021 04:56:02 PM,41.874174,-87.668082,"(41.874173691, -87.668082118)"

In [30]:
#creating a function to check for number of rows and colunms
def shape(data):
    print(f"There are {crime.shape[0]:,} rows and {crime.shape[1]} columns")
#checking the number of rows and colunms
shape(crime)

There are 2,278,726 rows and 23 columns

In [31]:
#checking information about the dataset
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2278726 entries, 0 to 2278725
Data columns (total 23 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   ID                    int64
 2   Case Number           object
 3   Date                  object
 4   Block                 object
 5   IUCR                  object
 6   Primary Type          object
 7   Description           object
 8   Location Description  object
 9   Arrest                bool
 10  Domestic              bool
 11  Beat                  int64
 12  District              float64
 13  Ward                  float64
 14  Community Area        float64
 15  FBI Code              object
 16  X Coordinate          float64
 17  Y Coordinate          float64
 18  Year                  int64
 19  Updated On            object
 20  Latitude              float64
 21  Longitude             float64
 22  Location              object
dtypes: bool(2), float64(7), int64(4), object(10)
memory usage: 369.4+ MB

<h2>-Data Cleaning<h2>

In [32]:
#checking for missing data
crime.isnull().sum()

Unnamed: 0                   0
ID                           0
Case Number                  1
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description      2877
Arrest                       0
Domestic                     0
Beat                         0
District                    12
Ward                    184695
Community Area          184267
FBI Code                     0
X Coordinate             23985
Y Coordinate             23985
Year                         0
Updated On                   0
Latitude                 23985
Longitude                23985
Location                 23985
dtype: int64

In [33]:
#checking the percentage of missing values in each colunm
def missing_value_percentage(df):
    # Calculate the percentage of missing values for each column
    missing_percentage = df.isnull().mean().reset_index()
    missing_percentage.columns = ['Column', 'Missing Percentage']

    # Convert the proportion to percentage by multiplying by 100
    missing_percentage['Missing Percentage'] *= 100

    return missing_percentage
missing_value_percentage(crime)

                  Column  Missing Percentage
0             Unnamed: 0            0.000000
1                     ID            0.000000
2            Case Number            0.000044
3                   Date            0.000000
4                  Block            0.000000
5                   IUCR            0.000000
6           Primary Type            0.000000
7            Description            0.000000
8   Location Description            0.126255
9                 Arrest            0.000000
10              Domestic            0.000000
11                  Beat            0.000000
12              District            0.000527
13                  Ward            8.105187
14        Community Area            8.086404
15              FBI Code            0.000000
16          X Coordinate            1.052562
17          Y Coordinate            1.052562
18                  Year            0.000000
19            Updated On            0.000000
20              Latitude            1.052562
21             Longitude            1.052562
22              Location            1.052562

In [34]:
#droping rows with missing data
crime.dropna(inplace=True)

In [35]:
#Creating a function to drop redundant colunms
def col_to_drop(df, columns):
    """
    Drops columns from a DataFrame with the axis set to 1 and inplace set to True.

    Parameters:
    - df: Pandas DataFrame
    - columns: A list containing columns to be dropped

    Returns:
    - Remaining the colunms in the pandas dataframe
    """
    if isinstance(columns, list):
        for column in columns:
            try:
                df.drop(column, axis=1, inplace=True)
            except KeyError:
                print(f"{column} does not exist in the DataFrame")
        shape(df)
        return df.columns
    else:
        print("Please enter a list of columns to be dropped")

In [36]:
#creating a list of colunms to drop
col= ['Unnamed: 0', 'ID','IUCR','FBI Code','X Coordinate', 'Y Coordinate','Location']
#calling the col_to_drop function
col_to_drop(crime,col)

There are 2,070,581 rows and 16 columns

Index(['Case Number', 'Date', 'Block', 'Primary Type', 'Description',
       'Location Description', 'Arrest', 'Domestic', 'Beat', 'District',
       'Ward', 'Community Area', 'Year', 'Updated On', 'Latitude',
       'Longitude'],
      dtype='object')

In [37]:
#rechecking for missing values after dropping the rows with missing data
crime.isna().sum()

Case Number             0
Date                    0
Block                   0
Primary Type            0
Description             0
Location Description    0
Arrest                  0
Domestic                0
Beat                    0
District                0
Ward                    0
Community Area          0
Year                    0
Updated On              0
Latitude                0
Longitude               0
dtype: int64

In [38]:
#checking the number of rows and colunms after data cleaning
shape(crime)

There are 2,070,581 rows and 16 columns

<h5>The Dataset has been cleaned<h5>

<h2>-Data Wrangling<h2>

In [39]:
#converting the date column into a datetime object
crime.Date=pd.to_datetime(crime.Date,format='%m/%d/%Y %I:%M:%S %p')

In [40]:
# Define a function to add season,day and month columns to a DataFrame
def new_col(df, cols):
    """
    creates the day and month colunm.

    Parameters:
    - df: Pandas DataFrame
    - columns: A list containing the name of the day and month columns

    Returns:
    - The dataframe
    """
    month_to_season = {
    1: 'Winter', 2: 'Winter', 3: 'Spring',
    4: 'Spring', 5: 'Spring', 6: 'Summer',
    7: 'Summer', 8: 'Summer', 9: 'Fall',
    10: 'Fall', 11: 'Fall', 12: 'Winter'}


    # Loop over each column in the provided list
    for col in cols:
        # Check if the column is not already in the DataFrame
        if col not in df.columns:
            try:
                # If the column doesn't exist, create 'day','month' and'season' columns from the 'Date' column
                df["day"] = df.Date.dt.day
                df["month"] = df.Date.dt.month
                df["season"] = df.month.map(month_to_season) 
            except KeyError:
                print("Date column does not exist")     
        else:
            # If the column already exists, print a message
            print(f"Column '{col}' already exists.")
    return df

In [41]:
#calling the new_col function
new_col(crime,["day","month","season"])
#re-indexing the colunm positions
crime=crime.reindex(columns=['Case Number', 'Date', 'Block', 'Primary Type', 'Description',
       'Location Description', 'Arrest', 'Domestic', 'Beat', 'District',
       'Ward', 'Community Area', 'day', 'month', 'Year', 'season',
       'Updated On', 'Latitude', 'Longitude'])

Column 'month' already exists.
Column 'season' already exists.

In [43]:
#Creating the hour colunm
crime['hour'] = crime["Date"].dt.strftime('%H:%M')

crime.head()

,Case Number,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,day,month,Year,season,Updated On,Latitude,Longitude,hour
0,HP485721,2008-07-26 14:30:00,085XX S MUSKEGON AVE,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,423,4.0,10.0,46.0,26,7,2008,Summer,02/28/2018 03:56:25 PM,41.739980,-87.555120,14:30
1,JB372830,2018-07-31 10:57:00,092XX S ELLIS AVE,WEAPONS VIOLATION,UNLAWFUL POSS AMMUNITION,POOL ROOM,True,False,413,4.0,8.0,47.0,31,7,2018,Summer,08/07/2018 04:02:59 PM,41.726922,-87.599747,10:57
2,HN308568,2007-04-27 10:30:00,062XX N TRIPP AVE,BURGLARY,FORCIBLE ENTRY,RESIDENCE,True,False,1711,17.0,39.0,12.0,27,4,2007,Spring,02/28/2018 03:56:25 PM,41.994138,-87.734959,10:30
3,JB361368,2018-07-23 08:55:00,0000X N KEELER AVE,ASSAULT,SIMPLE,NURSING HOME/RETIREMENT HOME,False,False,1115,11.0,28.0,26.0,23,7,2018,Summer,07/30/2018 03:52:24 PM,41.881217,-87.730590,08:55
4,JE297624,2021-07-11 06:40:00,016XX W HARRISON ST,ASSAULT,AGGRAVATED - HANDGUN,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,1231,12.0,27.0,28.0,11,7,2021,Summer,07/18/2021 04:56:02 PM,41.874174,-87.668082,06:40

In [44]:
# Create a new column 'time_of_day' based on the '24 hour' column
def categorize_time(hour):
    if 4 <= int(hour.split(':')[0]) < 12:
        return 'Morning'
    elif 12 <= int(hour.split(':')[0]) < 18:
        return 'Afternoon'
    elif 18 <= int(hour.split(':')[0]) < 20:
        return 'Evening'
    else:
        return 'Night'

In [45]:

# Apply the categorization function to create the new column
crime['time_of_day'] = crime['hour'].apply(categorize_time)

# Print the maximum value of the new 'time_of_day' column
crime.head()

,Case Number,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,...,Community Area,day,month,Year,season,Updated On,Latitude,Longitude,hour,time_of_day
0,HP485721,2008-07-26 14:30:00,085XX S MUSKEGON AVE,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,423,4.0,...,46.0,26,7,2008,Summer,02/28/2018 03:56:25 PM,41.739980,-87.555120,14:30,Afternoon
1,JB372830,2018-07-31 10:57:00,092XX S ELLIS AVE,WEAPONS VIOLATION,UNLAWFUL POSS AMMUNITION,POOL ROOM,True,False,413,4.0,...,47.0,31,7,2018,Summer,08/07/2018 04:02:59 PM,41.726922,-87.599747,10:57,Morning
2,HN308568,2007-04-27 10:30:00,062XX N TRIPP AVE,BURGLARY,FORCIBLE ENTRY,RESIDENCE,True,False,1711,17.0,...,12.0,27,4,2007,Spring,02/28/2018 03:56:25 PM,41.994138,-87.734959,10:30,Morning
3,JB361368,2018-07-23 08:55:00,0000X N KEELER AVE,ASSAULT,SIMPLE,NURSING HOME/RETIREMENT HOME,False,False,1115,11.0,...,26.0,23,7,2018,Summer,07/30/2018 03:52:24 PM,41.881217,-87.730590,08:55,Morning
4,JE297624,2021-07-11 06:40:00,016XX W HARRISON ST,ASSAULT,AGGRAVATED - HANDGUN,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,1231,12.0,...,28.0,11,7,2021,Summer,07/18/2021 04:56:02 PM,41.874174,-87.668082,06:40,Morning

In [46]:
# Convert the day of the week into names of the day of the week
crime['day_of_week'] = crime['Date'].apply(lambda x: x.day_name())

In [47]:
crime.head()

,Case Number,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,...,day,month,Year,season,Updated On,Latitude,Longitude,hour,time_of_day,day_of_week
0,HP485721,2008-07-26 14:30:00,085XX S MUSKEGON AVE,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,423,4.0,...,26,7,2008,Summer,02/28/2018 03:56:25 PM,41.739980,-87.555120,14:30,Afternoon,Saturday
1,JB372830,2018-07-31 10:57:00,092XX S ELLIS AVE,WEAPONS VIOLATION,UNLAWFUL POSS AMMUNITION,POOL ROOM,True,False,413,4.0,...,31,7,2018,Summer,08/07/2018 04:02:59 PM,41.726922,-87.599747,10:57,Morning,Tuesday
2,HN308568,2007-04-27 10:30:00,062XX N TRIPP AVE,BURGLARY,FORCIBLE ENTRY,RESIDENCE,True,False,1711,17.0,...,27,4,2007,Spring,02/28/2018 03:56:25 PM,41.994138,-87.734959,10:30,Morning,Friday
3,JB361368,2018-07-23 08:55:00,0000X N KEELER AVE,ASSAULT,SIMPLE,NURSING HOME/RETIREMENT HOME,False,False,1115,11.0,...,23,7,2018,Summer,07/30/2018 03:52:24 PM,41.881217,-87.730590,08:55,Morning,Monday
4,JE297624,2021-07-11 06:40:00,016XX W HARRISON ST,ASSAULT,AGGRAVATED - HANDGUN,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,1231,12.0,...,11,7,2021,Summer,07/18/2021 04:56:02 PM,41.874174,-87.668082,06:40,Morning,Sunday

In [50]:
#re-arranging the colunms
crime=crime.reindex(columns=['Case Number', 'Date', 'Block', 'Primary Type', 'Description',
       'Location Description', 'Arrest', 'Domestic', 'Beat', 'District',
       'Ward', 'Community Area', 'day', 'month', 'Year', 'season','hour','time_of_day','day_of_week',
       'Updated On', 'Latitude', 'Longitude'])

In [51]:
crime.head()

,Case Number,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,...,day,month,Year,season,hour,time_of_day,day_of_week,Updated On,Latitude,Longitude
0,HP485721,2008-07-26 14:30:00,085XX S MUSKEGON AVE,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,423,4.0,...,26,7,2008,Summer,14:30,Afternoon,Saturday,02/28/2018 03:56:25 PM,41.739980,-87.555120
1,JB372830,2018-07-31 10:57:00,092XX S ELLIS AVE,WEAPONS VIOLATION,UNLAWFUL POSS AMMUNITION,POOL ROOM,True,False,413,4.0,...,31,7,2018,Summer,10:57,Morning,Tuesday,08/07/2018 04:02:59 PM,41.726922,-87.599747
2,HN308568,2007-04-27 10:30:00,062XX N TRIPP AVE,BURGLARY,FORCIBLE ENTRY,RESIDENCE,True,False,1711,17.0,...,27,4,2007,Spring,10:30,Morning,Friday,02/28/2018 03:56:25 PM,41.994138,-87.734959
3,JB361368,2018-07-23 08:55:00,0000X N KEELER AVE,ASSAULT,SIMPLE,NURSING HOME/RETIREMENT HOME,False,False,1115,11.0,...,23,7,2018,Summer,08:55,Morning,Monday,07/30/2018 03:52:24 PM,41.881217,-87.730590
4,JE297624,2021-07-11 06:40:00,016XX W HARRISON ST,ASSAULT,AGGRAVATED - HANDGUN,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,1231,12.0,...,11,7,2021,Summer,06:40,Morning,Sunday,07/18/2021 04:56:02 PM,41.874174,-87.668082